#subtitle
{
    width: 600px;
    text-align: center;
    color:darkolivegreen;
    font-size: 15px;
    font-weight: bold;
}
#main
{
    height: 700px;
    width: 600px;
    background-color: black;
    position: relative;
    border: 5px solid slategray;
}
h1
{
    width: 600px;
    text-align: center;
    color: cadetblue;
}

#bg
{
    position: absolute;
    background-color: transparent;
}

#fg
{
    position: absolute;
    background-color: transparent;
}

#ui
{
    top: 600px;
    position: absolute;
    background-color: transparent;
}